<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="view-body">
    <div class="user-info">
        <div class="glass-morpho">
            <h2>SEE YOUR POST HERE IN DETAIL:</h2>
            <h4> Post id : <%= singlepost.id %> </h4>
            <h4> Username : <%= singlepost.username %> </h4>
            <h4> Caption : <%= singlepost.caption %> </h4>
        </div>
    </div>
            
            
</body>
</html>
    



    